.amarillo{
    height: 20vh;
    width: 20vh;
    border: 2px blue solid;
    background-color: yellow;
    position: relative;
    top: 100px;
}
.naranja {
    height: 60vh;
    width: 60vh;
    border: 2px black solid;
    background-color: orange;
    position: relative;
    bottom: 70px;
    left: 170px;
}
.circulo{
    border: 2px black solid;
    width: 100px;
    height: 100px;
    background-color: cadetblue;
    border-radius: 50%;
    position: relative;
    left: 650px;
    bottom: 535px;